@import "../../utilities/styling-variables";

.header-container {
    display: flex;
    justify-content: center;
}

.sub-header-container {
    display: flex;
    justify-content: center;
}

.sub-header-container span {
    margin: 2% 10% 0 10%;
}

#start-workout-button {
    margin: 5% 10% 0 10%;
    border: 1px solid black;
    padding: 1%;
    border-radius: 10px;
    background-color: $base-color;
    color: white;
}

#start-workout-button:hover {
    text-decoration: underline;
    cursor: pointer;
}