<div class="back-button-container">
    <span (click)="returnToStartWorkout()">
        <-- Back to Home
    </span>
</div>

<div class="sub-header-container">
    <span>
        <b>Custom Programs</b>
        <table class="programsTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Times Completed</th>
                </tr>
            </thead>
            <tbody>
                @for(program of customPrograms; track program) {
                    <tr (click)="startChosenWorkout(program)">
                        <td>{{ program.name | replaceNull }}</td>
                        <td>{{ program.description | replaceNull }}</td>
                        <td>{{ program.timesCompleted | replaceNull }}</td>
                    </tr>
                }
                @if(customPrograms.length == 0) {
                    <tr>
                        <td colspan="8">No programs found.</td>
                    </tr>
                }
                <tr>
                    <td class="tableFooter" colspan="8">{{ customPrograms.length }} record(s)</td>
                </tr>
            </tbody>
        </table>
    </span>
</div>

<div class="sub-header-container">
    <div class="button">
        Add a Program
    </div>
</div>

<div class="sub-header-container">
    <span>
        <b>Pre-Made Programs</b>
        <table class="programsTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Times Completed</th>
                </tr>
            </thead>
            <tbody>
                @for(program of premadePrograms; track program) {
                    <tr (click)="startChosenWorkout(program)">
                        <td>{{ program.name | replaceNull }}</td>
                        <td>{{ program.description | replaceNull }}</td>
                        <td>{{ program.timesCompleted | replaceNull }}</td>
                    </tr>
                }
                @if(premadePrograms.length == 0) {
                    <tr>
                        <td colspan="8">No programs found.</td>
                    </tr>
                }
                <tr>
                    <td class="tableFooter" colspan="8">{{ premadePrograms.length }} record(s)</td>
                </tr>
            </tbody>
        </table>
    </span>
</div>
