@import "../../utilities/styling-variables";

.programsTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid $base-color;
}

.programsTable td, .programsTable th, .tableFooter {
    padding: 8px;
}
  
.programsTable tr:nth-child(even){
    background-color: #f2f2f2;
}

.programsTable th, .tableFooter {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: $base-color;
  color: white;
}

.programsTable tr:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.button {
    border: 1px solid $base-color;
    margin: 1% 10% 0 10%;
}

.button:hover {
    text-decoration: underline;
    cursor: pointer;
}