<!-- <nav>
    <a [routerLink]="routerLinks[0]" routerLinkActive="active">Workout</a>
    <a [routerLink]="routerLinks[1]" routerLinkActive="active">Programs</a>
    <a [routerLink]="routerLinks[2]" routerLinkActive="active">User Profile</a>
</nav> -->

<ul>
    <li><a [routerLink]="routerLinks[0]" routerLinkActive="active">Workout</a></li>
    <li><a [routerLink]="routerLinks[1]" routerLinkActive="active">Programs</a></li>
    <li><a [routerLink]="routerLinks[2]" routerLinkActive="active">User Profile</a></li>
</ul>

<router-outlet />