<mat-tab-group animationDuration="0">
    <mat-tab label="Workout">
        <div class="matTabContent">
            Workouts coming soon!
        </div>
    </mat-tab>
    <mat-tab label="Programs">
        <div class="matTabContent">
            Programs coming soon!
        </div>
    </mat-tab>
    <mat-tab label="User Profile" class="customTabThing">
        <div class="matTabContent">
            <user-profile></user-profile>
        </div>
    </mat-tab>
</mat-tab-group>

<router-outlet />
