#userTab {
    margin: 1%;
}

#userTable {
    border-collapse: collapse;
    width: 75%;
    border: 1px solid blue;
}

// .createUpdateUserTable {
//     margin: 3% 3% 0 0;
// }

.tableOfTables {
    padding-right: 20px;
}

#userTable td, #userTable th, .tableFooter {
    padding: 8px;
}
  
#userTable tr:nth-child(even){
    background-color: #f2f2f2;
}

#userTable th, .tableFooter {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: blue;
  color: white;
}

.button {
    margin: 10px 4px 0 4px;
    width: 100px;
    padding: 2px;
    border: 1px solid black;
    background-color: gray;
    color: white;
    text-align: center;
}

.button:hover {
    cursor: pointer;
}

.modifyUser:hover {
    text-decoration: underline;
    cursor: pointer;
}