@import "../../utilities/styling-variables";

.programsTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid $base-color;
}

tbody td, .programsTable th {
    padding: 8px;
    text-align: center;
}
  
.programsTable tr:nth-child(even){
    background-color: #f2f2f2;
}

.programsTable th, .tableFooter {
  padding: 8px 0 8px 0;
  background-color: $base-color;
  color: white;
}

tfoot td {
    text-align: left;
    padding-left: 8px;
}

.programsTable tr:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}