<ul>
    <li>
        <a 
        [routerLink]="routerLinks[0]" 
        routerLinkActive 
        #workoutRLA="routerLinkActive" 
        [ngClass]="{'active-tab': workoutRLA.isActive}">
            Workout
        </a>
    </li>
    <li>
        <a 
        [routerLink]="routerLinks[1]" 
        routerLinkActive 
        #workoutHistoryRLA="routerLinkActive" 
        [ngClass]="{'active-tab': workoutHistoryRLA.isActive}">
            History
        </a>
    </li>
    <li>
        <a 
        [routerLink]="routerLinks[2]" 
        routerLinkActive 
        #usersRLA="routerLinkActive" 
        [ngClass]="{'active-tab': usersRLA.isActive}">
            User Profile
        </a>
    </li>
</ul>

<router-outlet />