<div class="header-container">
    <h1>{{ workoutHistory?.length}} Workouts Completed</h1>
</div>

<div class="sub-header-container">
    <span>
        <table class="startProgramTable">
            <thead></thead>
            <tbody>
                <tr>
                    <td><b>{{ repsCompleted | replaceNull }}</b> Reps Completed</td>
                    <td><b>{{ setsCompleted | replaceNull }}</b> Sets Completed</td>
                </tr>
                <tr>
                    <td>Top Program: <b>{{ topProgram?.name | replaceNull }}</b></td>
                    <td>Bottom Program: <b>{{ bottomProgram?.name | replaceNull }}</b></td>
                </tr>
            </tbody>
        </table>
    </span>
</div>

<div class="sub-header-container">
    <div class="rounded-confirm-button" (click)="startWorkout()">
        Start Workout
    </div>
</div>