<div class="header-container">
    <h1>{{ workoutHistory?.length}} Workouts Completed</h1>
</div>

<div class="sub-header-container">
    <span>
        <table class="startProgramTable">
            <thead></thead>
            <tbody>
                <tr>
                    <td (click)="getWorkoutHistoryByUser()">{{ repsCompleted | replaceNull }} Reps Completed</td>
                    <td>{{ setsCompleted | replaceNull }} Sets Completed</td>
                </tr>
                <tr>
                    <td>Top Program: {{ topProgram?.name | replaceNull }}</td>
                    <td>Bottom Program: {{ bottomProgram?.name | replaceNull }}</td>
                </tr>
            </tbody>
        </table>
    </span>
</div>

<div class="sub-header-container">
    <div class="rounded-confirm-button" (click)="startWorkout()">
        Start Workout
    </div>
</div>