<div class="back-button-container">
    <span (click)="returnToChooseProgram()">
        <-- Back to Workout
    </span>
</div>

<div class="sub-header-container">
    <b>{{ exercise.name }}</b>
</div>

<!-- <div class="sub-header-container">
    <span>
        <table class="programsTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Body Area</th>
                </tr>
            </thead>
            <tbody>
                @for(exercise of exercises; track exercise) {
                    <tr>
                        <td><input type="checkbox"></td>
                        <td (click)="startChosenExercise(exercise)">{{ exercise.name | replaceNull }}</td>
                        <td (click)="startChosenExercise(exercise)">{{ exercise.bodyArea | replaceNull }}</td>
                    </tr>
                }
                @if(exercises.length == 0) {
                    <tr>
                        <td colspan="8">No exercises found.</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="tableFooter" colspan="3">{{ exercises.length }} record(s)</td>
                </tr>
            </tfoot>
        </table>
    </span>
</div> -->