/* You can add global styles to this file, and also import other style files */
@import "./app/utilities/styling-variables";

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

footer {
    padding: 1% 0.5%;
    margin-top: auto;
    background-color: $base-color;
    color: white;
    text-align: left;
}

.sub-header-container {
    display: flex;
    justify-content: center;
}

.sub-header-container:last-child {
    margin-bottom: 5%;
}

.sub-header-container span {
    width: 100%;
    margin: 2% 10% 0 10%;
}

.back-button-container {
    display: flex;
    justify-content: flex-start;
    margin: 1% 0 2% 1%;
}

.back-button-container span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.rounded-confirm-button {
    margin: 1%;
    padding: 6px 20px;
    line-height: 1.5;
    border-radius: 100px;
    border: 1px solid $base-color;
    background-color: $base-color;
    color: white;
}

.rounded-cancel-button {
    margin: 1%;
    padding: 6px 20px;
    line-height: 1.5;
    border-radius: 100px;
    border: 1px solid $base-color;
    background-color: white;
    color: $base-color;
}

.rounded-confirm-button:hover, .rounded-cancel-button:hover {
    cursor: pointer;
    text-decoration: underline;
}